@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
    --primary-color: #007bff;
    --secondary-color: #f0f0f0;
    --text-color: #ff0000;
    --border-color: #ccc;
    --panel-color: #c88814;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

html, body {

    font-family: system-ui, Roboto, Avenir, Helvetica, Arial, sans-serif;

    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);

}

a {
    color: blue;
}

a.active {
    font-weight: bold;
    color: black;
}

Button:hover {
    background-color: #777777;
}

.myaccordion-header {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 5px;
    background-color: #888;
}

.myaccordion-header > :first-child {
    text-align: left;
}

.myaccordion-header > :nth-child(2) {
    margin: 0 auto;
}

.myaccordion-body {
    display: flex;
    width: 300px;
    padding: 5px;
    text-align: center;
    background-color: #aaa;
}

.myaccordion-rotated {
    transform: rotate(180deg);
    transition: transform 0.2s;
}

.myaccordion-show {
    display: block;
}

.myaccordion-hide {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    margin: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(161, 197, 230);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sidebar {
    width: 200px;
    min-height: 75vh;
    padding: 10px;
    background-color: rgb(201, 129, 21);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.home {
    width: 100%;
    height: 80vh;
}

.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 165, 0, 0.3);
    padding: 20px
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    min-height: 80vh;
    background-color: rgba(255, 165, 0, 0.3);
    padding: 20px
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-image: url('/src/assets/beautiful-fall-nature-scenery.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.content::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(#aa, #aa, #aa, .4); /* white overlay, 0.6 alpha for fade */
    pointer-events: none;
    z-index: 0;
}

.list-cards {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 165, 0, 0.3);
    padding: 20px
}

.list-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-delete{
    width:75px;
    padding:2px;
    background-color: #c98115;
    color:black;
}

.todo-complete{
    width:75px;
    padding:2px;
    background-color:#c98115;
    color:black;
}

.add-todo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 165, 0, 0.3);
    padding: 20px
}

.todo-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
}

.todo-card {
    background: #d6ab6a; /*var(--panel-color);*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 16px;
    min-width: 220px;
}

.todo-not-found {
    margin-top:20px;
    margin-left:35%;
    margin-right:35%;
    width:30%;
    border:1px solid black;
    text-align:center;
    padding:10px;
    font-size:20pt;
    background-color:#aaa;
}

.button-group {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    width: 100%;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 165, 0, 0.35);
}

.about > p {
    width: 500px;
    font-size: 10pt;
    color: #321f03;
    padding: 10px;
    background-color: #577787;
    margin-top:0;
}

.footer {
    text-align: center;
    background-color: rgb(56, 95, 112);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 400px) {
    .header {
        width: 100%;
        /*max-width:320px;*/
        padding: 4px;
        box-sizing: border-box;
    }

    .footer{
        width: 100%;
        /*max-width:320px;*/
        padding: 4px;
        box-sizing: border-box;
    }

    .main {
        flex-direction: column; /* Stack sidebar and content vertically */
        align-items: center; /* Center items horizontally */
        max-width:100vw;
        box-sizing: border-box;
    }

    .sidebar {
        width: 100%; /* Sidebar takes full width */
        min-height:250px;
        /*max-height:300px;*/
        padding: 4px;
        box-sizing: border-box;
        overflow-y:auto;

    }

    .content {
        width: 100%;
        /*max-width:320px;*/
        min-height:100px;
        padding: 4px;
        box-sizing: border-box;
        background-image: none;
    }

    .about > p {
        width:300px;
    }

    .todo-not-found {
        margin-left:10%;
        margin-right:10%;
        width:80%;
        font-size:12pt;
    }
}
